{% extends 'base.html' %}

{% block content %}
<div id="map" style="height:500px; width: 100%;"/>
{{ data|json_script:"data_json" }}
<script>
    var map = L.map('map').setView([24.731377, 76.907803], 5);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let data_points = JSON.parse(document.getElementById('data_json').textContent);
    // Mark each farmer location on Map.
    data_points.forEach(element => {
        L.marker([element.latitude, element.longitude]).addTo(map);
    });
</script>
{% endblock %}
